<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Purchasing&nbsp;medicine</title>
    <style type="text/css">
        table {
            text-align: center;
        }
  .top{ display: flex;width: 100%;height: 40px;background: #3498DB;float: left;}
        /*background:url("../static/images/top.png");*/
        .main{width: 100%;height: 700px;}
        h2{margin:5px auto;color: #ffffff;font-family: "Times New Roman"}
    </style>
    <script src="../static/js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        function clik() {
            var url = "saveMedicine";
            var medicine = {
                "medId": $("#medId").val(),
                "medName": $("#medName").val(),
                "medNum": $("#medNum").val(),
                "medSpeci": $("#medSpeci").val(),
                "medPrice": $("#medPrice").val(),
                "medTime": $("#medTime").val()
            }
            var jsonData = JSON.stringify(medicine);
            // alert(jsonData);
            $.ajax({
                type: "POST",
                url: url,
                contentType: 'application/json;charset=utf-8',
                data: jsonData,
                dataType: "json",
                success: function (result) {
                    alert(result.code);
                },
                error: function (msg) {
                    alert(msg.error)
                }

            });

        }

    </script>
</head>
<body>
<div class="top">
    <left><h2> Hospital Management Information System</h2></left>
</div>
<div class="main">
<center>
    <h3>Welcome&nbsp;you</h3>
</center>
    <h3>Purchasing&nbsp;medicine</h3>
    <form role="form" method="post" action="saveMedicine">
        <left>
            &nbsp;&nbsp;&nbsp;<label style="vertical-align: top">MedicineId</label>&nbsp;
            &nbsp;&nbsp;&nbsp;<input type="text" style="vertical-align: top" id="medId">&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>Name</label>&nbsp;
            &nbsp;&nbsp;&nbsp;<input type="text" id="medName">&nbsp;<br/><br/>
            &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;<label>Quantity</label>&nbsp;
            &nbsp;&nbsp;&nbsp;<input type="text" style="vertical-align: top" id="medNum">&nbsp;
            &nbsp;<label>Specification</label>
            &nbsp;&nbsp;&nbsp;<input type="text" style="vertical-align: top" id="medSpeci">&nbsp;<br/><br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label
                style="vertical-align: top">Price</label>
            &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" style="vertical-align: top" id="medPrice">&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>Time</label>&nbsp;
            &nbsp;&nbsp;&nbsp;<input type="date" id="medTime">&nbsp;
            &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
            &nbsp;<br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;<input value="Submit" type="button" id="submit" onclick="clik()">
            <!--<input value="Submit" type="button" id="submit" onclick="clik()">-->

        </left>
    </form>
</div>
</body>
</html>