<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin main page</title>
    <style type="text/css">
        a{text-decoration: none;}
        table tr td a:hover,visited{color: #00a1cb;}
        .top{ display: flex;width: 100%;height: 40px;background: #3498DB;float: left;}
        /*background:url("../static/images/top.png");*/
        .main{width: 100%;height: 600px;}
        h2{margin:5px auto;color: #ffffff;font-family: "Times New Roman"}
    </style>
</head>
<body>
<div class="bx">
    <div class="top">
<left><h2> Hospital Management Information System</h2></left>
    </div>
</div>
<div class="main">
<table id="mytable" >

    <tr><td>&nbsp;</td></tr>
    <tr>
        <td><a href="findHospitalAccount">>Hospital account information</a></td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td><a href="addEmployee_baseInfo">>Add&nbsp;employee&nbsp;information</a></td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td><a href="findFeedbackAllInfo">>Messages&nbsp;from&nbsp;Others</a></td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td><a href="findEmpl_dimissionAllInfo">>Dimission&nbsp;information</a></td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td><a href="addEmpl_title">>Add&nbsp;employee title information</a></td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td><a href="addEmpl_salary">>Add&nbsp;employee salary information</a></td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td><a href="addEmpl_depa">>Add&nbsp;employee department information</a></td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td><a href="addDoctorShow">>Add doctors shown on the home page</a></td>
    </tr>

</table>
</div>
</body>
</html>