<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>doctor main page</title>
    <style type="text/css">
        a{text-decoration: none;}
        table tr td a:hover,visited{color: #00a1cb;}
        .top{ display: flex;width: 100%;height: 40px;background: #3498DB;float: left;}
        /*background:url("../static/images/top.png");*/
        .main{width: 100%;height: 600px;}
        h2{margin:5px auto;color: #ffffff;font-family: "Times New Roman"}
    </style>
</head>
<body>
<div class="top">
    <left><h2> Hospital Management Information System</h2></left>
</div>
<div class="main">
<table id="mytable" >
    <tr>
        <td><a href="DoctorPersonalInfo">>Find&nbsp;personal&nbsp;infomation</a></td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td><a href="updateEmployee_baseInfo">>Update&nbsp;personal&nbsp;basic&nbsp;infomation</a></td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td><a href="DotorCheckAppointment">>check&nbsp;the&nbsp;patient&nbsp;appointment</a></td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td><a href="DiagnosticMake">>Make&nbsp;a&nbsp;Diagnostic&nbsp;for&nbsp;the&nbsp;patient</a></td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td><a href="DiagnosticInpsect">>Inspect&nbsp;a&nbsp;Diagnostic&nbsp;for&nbsp;the&nbsp;patient</a></td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td><a href="applyForDimission">>Apply&nbsp;for&nbsp;dimission</a></td>
    </tr>

</table>
</div>
</body>
</html>