<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>find Recharge Record</title>
    <style type="text/css">
        .top{ display: flex;width: 100%;height: 40px;background: #3498DB;float: left;}
        /*background:url("../static/images/top.png");*/
        .main{width: 100%;height: 700px;}
        h2{margin:5px auto;color: #ffffff;font-family: "Times New Roman"}

    </style>
</head>
<body>
<div class="top">
    <left><h2> Hospital Management Information System</h2></left>
</div>
<div class="main">
<center>
    <h3 > Records of recharge</h3>
</center>
    <center>
        <table border="1" width="60%" class="table"  >
            <tr>
                <th>RechargeAccount</th>
                <th>Amount</th>
                <th>CardId</th>
                <th>OperateTime</th>
                <th>Status</th>
            </tr>

            <tr th:each="obj : ${dataList}">
                <td th:text="${obj.phoneNum}"></td>
                <td th:text="${obj.amount}"></td>
                <td th:text="${obj.cardId}"></td>
                <td th:text="${obj.operateTime}"></td>
                <td th:text="${obj.operateStatus}"></td>
            </tr>

        </table>
    </center>
</div>
</body>
</html>