<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .top{ display: flex;width: 100%;height: 40px;background: #3498DB;float: left;}
        /*background:url("../static/images/top.png");*/
        .main{width: 100%;height: 600px;}
        h2{margin:5px auto;color: #ffffff;font-family: "Times New Roman"}
    </style>
</head>
<body>
<div class="top">
    <left><h2> Hospital Management Information System</h2></left>
</div>
<div class="main">
<center>
    <h3 >Account Information</h3>
</center>
    <center>
        <table border="1" width="600px" class="table" >
            <tr>
                <th>PhoneNumber</th>
                <th>Balance( ¥ )</th>
            </tr>

            <tr >
                <td th:text="${patientAccount.phoneNum}"></td>
                <td th:text="${patientAccount.balance}"></td>
            </tr>

        </table>
    </center>
</div>
</body>
</html>