
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <style type="text/css">

    </style>
</head>
<body>
<div class="bx">
    <div class="container">
        <h2 class="left">Hospital&nbsp;Management&nbsp;Information&nbsp;System</h2>
        <div class="right">
            <span class="l"><a href="#">Logout</a></span>
            <span class="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</span>
            <span class="r"><a href="#">Exit</a></span>
        </div>
    </div>
</div>
</body>
</html>
