<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        a{text-decoration: none;}
        table tr td a:hover,visited{color: #00a1cb;}
    </style>
</head>
<body>
<table id="mytable" >
    <tr>
        <td><a href="#">>Find&nbsp;personal&nbsp;infomation</a></td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td><a href="receptionistApplyForHospital">>Make&nbsp;an&nbsp;appointment&nbsp;for&nbsp;hospital</a></td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td><a href="applyForDimission">>Apply&nbsp;for&nbsp;dimission</a></td>
    </tr>
</table>
</body>
</html>